
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campaign</title>
</head>
<body>
    <div>
        @ViewBag.company/@ViewBag.campaign
    </div>
</body>
</html>
