@{
    ViewBag.Title = "About";
}
<section class="page-header page-header-xs">
    <div class="container">

        <h1>ABOUT US</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">About Us</li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-5">

                <img class="img-responsive" src="~/Content/Web/demo_files/images/girl_looking-min.jpg" alt="">

            </div>

            <div class="col-lg-7 col-md-7 col-sm-7">
                <h2 class="size-25">We believe in Simple &amp; Creative</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in minima iusto voluptatem aliquam odit odio. Aliquam voluptatibus beatae officiis?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique excepturi voluptates placeat ducimus delectus magnam tempore dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus.</p>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                    <cite>Albert Einstein</cite>
                </blockquote>

            </div>

        </div>

    </div>
</section>
<!-- / -->
<!-- -->
<section>
    <div class="container">

        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
                    <h4>Web Design</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

                    <a href="#">
                        Read
                        <!-- /word rotator -->
                        <span class="word-rotator" data-delay="2000">
                            <span class="items">
                                <span>more</span>
                                <span>now</span>
                            </span>
                        </span><!-- /word rotator -->
                        <i class="glyphicon glyphicon-menu-right size-12"></i>
                    </a>

                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
                    <h4>Web Analytics</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

                    <a href="#">
                        Read
                        <!-- /word rotator -->
                        <span class="word-rotator" data-delay="2000">
                            <span class="items">
                                <span>more</span>
                                <span>now</span>
                            </span>
                        </span><!-- /word rotator -->
                        <i class="glyphicon glyphicon-menu-right size-12"></i>
                    </a>

                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i>
                    <h4>Web Development</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

                    <a href="#">
                        Read
                        <!-- /word rotator -->
                        <span class="word-rotator" data-delay="2000">
                            <span class="items">
                                <span>more</span>
                                <span>now</span>
                            </span>
                        </span><!-- /word rotator -->
                        <i class="glyphicon glyphicon-menu-right size-12"></i>
                    </a>

                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>
                    <h4>Marketing</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>

                    <a href="#">
                        Read
                        <!-- /word rotator -->
                        <span class="word-rotator" data-delay="2000">
                            <span class="items">
                                <span>more</span>
                                <span>now</span>
                            </span>
                        </span><!-- /word rotator -->
                        <i class="glyphicon glyphicon-menu-right size-12"></i>
                    </a>

                </div>
            </div>
        </div>
        <!-- /FEATURED BOXES 3 -->

    </div>
</section>
<!-- / -->